<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grant Cardone Sales Training University</title>
    <link rel="stylesheet" href="../../assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <header class="header-area">
        <!-- site-navbar start -->
        <div class="navbar-area box-shadow bg-white">
            <div class="container-fluid px-5">
                <nav class="site-navbar">
                    <!-- site logo -->
                    <a href="/" class="site-logo">
                        <img src="./assets/image/cu-header-logo-black.png">
                    </a>
                    <!-- site menu/nav -->
                    <ul>
                        <li><a class="text-black" href="#">WHAT WE DO</a></li>
                        <li><a class="text-black" href="#">SALES TRAINING</a></li>
                        <li><a class="text-black" href="#">EXPERTS</a></li>
                        <li><a class="text-black" href="#">CASE STUDIES</a></li>
                        <li><a class="text-black" href="#">LOGIN</a></li>
                        <li><a class="text-black" href="#">BLOG</a></li>
                        <li><a class="text-black try-btn mb-1 mt-1" href="#">TRY FOR FREE</a></li>
                    </ul>
                    <!-- nav-toggler for mobile version only -->
                    <button class="nav-toggler">
                <span></span>
              </button>
                </nav>
            </div>
        </div>
        <!-- navbar-area end -->
    </header>
    <section>
        <div class="container py-100">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center">
                    <img class="img-fluid rounded" src="./assets/image/Grant-Cardone-Cardone-University-copy.jpg" alt="">
                </div>
                <div class="col-lg-8">
                    <h2 class="gardone-title mb-4">ABOUT GRANT CARDONE</h2>
                    <p class="fs-16 lh-1 mb-5">International speaker, sales trainer, entrepreneur, and author of The 10X Rule & creator of 21 bestselling business programs, Grant Cardone owns & operates seven privately held companies and a $3.6 billion portfolio of multifamily
                        properties. Named the #1 marketer to watch by Forbes Magazine, Cardone is also the founder of The 10X Movement & The 10X Growth Conference, the world’s largest business & entrepreneur conference.</p>
                    <h2 class="gardone-title mb-4">ABOUT CARDONE UNIVERSITY</h2>
                    <p class="fs-16 lh-1">Cardone University is suited for anyone who wants to get more out of life and business. Artists, Automotive Salespeople, Doctors, Roofers, Phone Salespeople, and anyone else who has a dream that needs to be brought to market will benefit
                        from the 800+ courses available. With 24/7 access, users can leverage the expertise of Grant Cardone for their business. Courses on prospecting, sales, negotiation, closing, money and finances, and motivation are just some of what’s
                        offered inside this premier business training platform.</p>

                </div>
            </div>
        </div>
    </section>

    <footer class="bg-blue">
        <div class="container py-100">
            <div class="row">
                <div class="col-lg-3">
                    <img src="./assets/image/cu-logo-badge-150.png" alt="">
                </div>
                <div class="col-lg-5">
                    <h4 class="text-white fs-17 mb-3">Call Us Today to 10X Your Sales!</h4>
                    <p class="text-white fs-17 mb-2"><b>Phone&nbsp;:</b>&nbsp;1-310-777-0255</p>
                    <p class="text-white fs-17 mb-2"><b>Email&nbsp;:</b>&nbsp;chat@grantcardone.com</p>
                    <p class="text-white fs-17"><b>Support&nbsp;:</b>&nbsp;clientsupport@grantcardone.com</p>
                </div>
                <div class="col-lg-2">
                    <ul class="why-list">
                        <li class="mb-2"> <i class="fa fa-check mr-1 text-white" aria-hidden="true"></i> <a href="about-us.html">About</a></li>
                        <li class="mb-2"> <i class="fa fa-check mr-1 text-white" aria-hidden="true"></i> <a href="#">Free Ebooks</a></li>
                        <li class="mb-2"> <i class="fa fa-check mr-1 text-white" aria-hidden="true"></i> <a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="why-list">
                        <li class="mb-2"> <i class="fa fa-check mr-1 text-white" aria-hidden="true"></i> <a href="#"> Privacy Policy</a></li>
                        <li class="mb-2"> <i class="fa fa-check mr-1 text-white" aria-hidden="true"></i> <a href="#">Terms of Use</a></li>
                        <li class="mb-2"> <i class="fa fa-check mr-1 text-white" aria-hidden="true"></i> <a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <section class="foot-bg">
        <div class="container py-20">
            <div class="row">
                <div class="col-4">
                    <p class="text-white fs-13">© 2021 Cardone Enterprises</p>
                </div>
                <div class="col-8">
                    <ul class="why-list d-flex justify-content-end">
                        <li><a class="fs-13 mx-2" href="about-us.html">Login</a></li>
                        <li><a class="fs-13 mx-2" href="#">About</a></li>
                        <li><a class="fs-13 mx-2" href="#">Free eBooks</a></li>
                        <li><a class="fs-13 mx-2" href="#">Contact Us</a></li>
                        <li><a class="fs-13 mx-2" href="#">Terms of Use</a></li>
                        <li><a class="fs-13 mx-2" href="#">Privacy Policy</a></li>
                        <li>
                            <a class="fs-13 mx-2" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a class="fs-13 mx-2" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a class="fs-13 mx-2" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a class="fs-13 mx-2" href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a class="fs-13 mx-2" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>






    <script src="./assets/js/custom.js "></script>

</body>

</html>