<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Grant Cardone Sales Training University</title>
		<link rel="stylesheet" href="../../assets/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
			integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>

	<body>
		<header class="header-area">
			<!-- site-navbar start -->
			<div class="navbar-area">
				<div class="container-fluid px-5">
					<nav class="site-navbar">
						<!-- site logo -->
						<a href="/" class="site-logo">
							<img src="./assets/image/cu-header-logo-white.png" />
						</a>
						<!-- site menu/nav -->
						<ul class="dropdown">
							<li><a href="#">WHAT WE DO</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="#">SALES TRAINING</a></li>
							<li><a href="#">EXPERTS</a></li>
							<li><a href="#">CASE STUDIES</a></li>
							<li><a href="#">LOGIN</a></li>
							<li><a href="#">BLOG</a></li>
							<li><a class="try-btn" href="#">TRY FOR FREE</a></li>
						</ul>
						<!-- nav-toggler for mobile version only -->
						<button class="nav-toggler">
							<span></span>
						</button>
					</nav>
				</div>
			</div>
			<!-- navbar-area end -->
			<div class="intro-area">
				<div class="container">
					<div class="row mt-8">
						<div class="col-lg-4"></div>
						<div class="col-lg-8">
							<p class="header-text">GRANT CARDONE</p>
							<h1 class="header-title">BUSINESS TRAINING UNIVERSITY</h1>
							<h2 class="header-sub-title">Guaranteed to Help You Get Through a Tough Economy</h2>
							<img class="img-fluid mb-3" src="./assets/image/cardone-u-boxes.png" alt="" />
							<div class="d-flex justify-content-center">
								<a class="header-btn-1" href="#">START MY FREE TRIAL</a>
								<a class="header-btn-2" href="#">SCHEDULE A CALL</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="container py-80">
				<div class="row">
					<div class="col-12">
						<h2 class="gardone-title text-center mb-5">
							Cardone University is the #1 Business Training Platform in the World
						</h2>
						<p class="gardone-text">
							It offers Grant Cardone’s most extensive sales training curriculum on the web today. With
							over 8000+ Segments of fully interactive video content, Cardone University is the one thing
							you can’t afford NOT to have. With Grant Cardone as your personal sales coach 24/7 and the
							full support of the Cardone Team, you can finally reach your potential. Professionals at the
							top of their game train every day… and their paychecks reflect that. Are you ready to become
							a REAL pro?
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-ash">
			<div class="container py-80">
				<div class="row">
					<div class="col-lg-4">
						<span class="unlimited-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
						<h3 class="unlimited-title">OVER 800+ VIDEO COURSES</h3>
						<p class="unlimited-text">
							Interactive lessons that cover all the money making skills your team MUST have to battle a
							tough economy.
						</p>
					</div>
					<div class="col-lg-4">
						<span class="unlimited-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
						<h3 class="unlimited-title">UNLIMITED ACCESS</h3>
						<p class="unlimited-text">
							Equip your team 24/7 with unlimited access to courses available ON-DEMAND to help find new
							business in a competitive environment.
						</p>
					</div>
					<div class="col-lg-4">
						<span class="unlimited-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
						<h3 class="unlimited-title">IN-HOUSE COACHING TEAM</h3>
						<p class="unlimited-text">
							Access our pros to help your company One-on-One tackle the challenges of this new economy.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container py-100 bg-1">
				<div class="row">
					<div class="col-lg-5"></div>
					<div class="col-lg-7">
						<h2 class="gardone-title mb-4">Why Choose The #1 Business Training Platform in the World?</h2>
						<hr class="line mb-4" />
						<h3 class="fs-19 mb-4">
							Cardone University is the single largest collection of best in class training on:
						</h3>
						<div class="row mb-4">
							<div class="col-lg-6">
								<ul class="why-list">
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i> CRUCIAL SALES FUNDAMENTALS
									</li>
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i> ROBUST NEW HIRE TRAINING
									</li>
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i> CRITICAL STEPS TO THE SALE
									</li>
									<li><i class="fa fa-check mr-2" aria-hidden="true"></i> CLOSING & NEGOTIATING</li>
									<li><i class="fa fa-check mr-2" aria-hidden="true"></i> THE ART OF COLD CALLING</li>
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i> SALES MANAGEMENT TRAINING
									</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="why-list">
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i> 3 YEARS OF SALES MEETINGS
									</li>
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i> LEARN TO HANDLE OBJECTIONS
									</li>
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i> HOW TO PROPERLY FOLLOW-UP
									</li>
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i>
										ACQUIRING INTERNET LEADS
									</li>
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i>
										PROSPECTING FOR NEW LEADS
									</li>
									<li>
										<i class="fa fa-check mr-2" aria-hidden="true"></i>
										MOTIVATION FOR TEAM SUCCESS
									</li>
								</ul>
							</div>
						</div>
						<p class="fs-16 mb-4 lh-1">
							Grant Cardone becomes your personal Sales and Business coach, along with 24/7 support from
							the entire Cardone Team. You will be able to build an unbreakable sales force that will give
							your company immunity in any economic environment.
						</p>
						<h3 class="fs-24 mb-5">Are you ready to become a REAL pro?</h3>
						<div>
							<a class="get-btn" href="#">GET STARTED NOW</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-blue">
			<div class="container py-100 bg-2">
				<div class="row">
					<div class="col-lg-5"></div>
					<div class="col-lg-7">
						<h2 class="gardone-title mb-5 text-white text-center">
							Access the Platform from Any Device at Any Time
						</h2>
						<hr class="line-2 mb-5 text-white text-center" />
						<p class="fs-16 mb-5 lh-1 text-white text-center">
							Cardone University is easily accessible from phones, tablets, and desktop computers…so no
							matter where you are, Grant is there with you at your fingertips. Designed with your
							convenience in mind, you’ll always have quick, mobile-friendly access to all 800+ courses.
						</p>
						<img class="img-fluid mb-3" src="./assets/image/multi-devices-CU-2.png" alt="" />
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container py-100 bg-3">
				<div class="row">
					<div class="col-lg-5"></div>
					<div class="col-lg-7">
						<h2 class="gardone-title text-left mb-4">Your Trusted Resource</h2>
						<hr class="line mb-4" />
						<p class="fs-16 lh-1 mb-5">
							For over 35 years Grant Cardone has been providing business training and consulting to some
							of the largest organizations in the world. From new-hire training to expedite on-boarding,
							to certifications for continuous education as your company and sales team grows, Grant
							Cardone has the best online sales training available on the internet today.
						</p>
						<div class="row mb-4">
							<div class="col-lg-6">
								<div class="d-flex justify-content-center fs-36">
									<i class="fa fa-bar-chart mr-2" aria-hidden="true"></i>
									<h5 class="d-flex align-items-center">1 Billion+</h5>
								</div>
								<p class="text-center">Lessons taken</p>
							</div>
							<div class="col-lg-6">
								<div class="d-flex justify-content-center fs-36">
									<i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
									<h5 class="d-flex align-items-center">396,543</h5>
								</div>
								<p class="text-center">Active users</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-blue">
			<div class="container py-100">
				<div class="row">
					<div class="col-12">
						<h2 class="gardone-title mb-5 fs-36 text-white text-center">
							LET GRANT CARDONE BE YOUR PERSONAL COACH
						</h2>
						<hr class="line-2 mb-5 text-white text-center" />
						<img class="img-fluid mb-5" src="./assets/image/CU-screens_2-1-min.png" alt="" />
						<div class="text-center">
							<a class="get-btn-2" href="#">GET STARTED NOW</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container py-100">
				<div class="row">
					<div class="col-lg-8">
						<h2 class="gardone-title mb-4 text-center">Which Training Package Is Best For Me?</h2>
						<hr class="line mb-4 m-auto" />
						<div class="row mb-4">
							<div class="col-lg-6">
								<table cellspacing="0">
									<tr>
										<th>INDIVIDUALS</th>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">
											Looking to increase your personal sales skill set? Trying to push your
											income to the next level. CardoneU was designed just for that. Let us help
											get you there.
										</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-gray">800+ Total Segments</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">Weekly Mastermind</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-gray">Certifications</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">Learn & Apply At Your Own Pace</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-gray">New Content Added Throught The Year</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">Buy & Add Individual Content + Programs</td>
									</tr>
									<tr>
										<td class="p-40">
											<a class="get-btn fs-13" href="#">GET ACCESS</a>
										</td>
									</tr>
								</table>
							</div>
							<div class="col-lg-6">
								<table cellspacing="0">
									<tr>
										<th>TEAMS & BUSINESSES</th>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">
											Running your business is hard enough without having to worry about your
											staff performing at their best. Let us help take their sales to the next
											level for you.
										</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-gray">800+ Total Segments</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">Weekly Mastermind</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-gray">Certifications</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">1-on-1 Virtual Coaching</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-gray">Tracking and Reporting on Activity</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">
											Virtual Coaching from Cardone Trained Experts
										</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-gray">Leadership and Execution Courses</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">New Hire On-boarding</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-gray">Customized Training Curriculums</td>
									</tr>
									<tr>
										<td class="fs-16 lh-1 bg-white">Multiple and Transferable licenses</td>
									</tr>
									<tr>
										<td class="p-40">
											<a class="get-btn fs-13" href="#">GET ACCESS</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<h2 class="gardone-title mb-4 text-center">TAX DEDUCTIBLE</h2>
						<hr class="line mb-5 m-auto" />
						<p class="fs-16 lh-1 text-center mb-3">
							Treas. Reg. §1.162-5(a)(1) & Treas. Reg §1.162-5(a)(2) of IRS Code allows you to deduct this
							expenditure from your taxes.
						</p>
						<img class="d-flex m-auto" src="./assets/image/logo-irs.png" alt="" />
					</div>
				</div>
			</div>
		</section>
		<section class="bg-ash">
			<div class="container py-100">
				<div class="row">
					<div class="col-12">
						<h2 class="gardone-title mb-4 text-center">What Our Clients Say</h2>
						<hr class="line mb-5 m-auto" />
					</div>
					<div class="col-lg-4">
						<iframe
							class="mb-3"
							width="355"
							height="200"
							src="https://www.youtube.com/embed/us65asJHoLE"
							title="Our 10X Success Story! | Coffman Media Video Production"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
						<p class="fs-17 lh-1 border-none mb-3">
							“Once we realized this is something that Coffman media had to be fully engaged in, we got
							our whole team on Cardone University. Thanks to the 10X culture, we saw a 44% sales lift
							from last year and this year we will be on track to hit triple-digit growth.”
						</p>
						<div class="d-flex align-items-center">
							<hr class="line-3" />
							<h5 class="fs-16">Coffman Media</h5>
						</div>
					</div>
					<div class="col-lg-4">
						<iframe
							class="mb-3"
							width="355"
							height="200"
							src="https://www.youtube.com/embed/TlxvsPWIpz4"
							title="December 31, 2018"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
						<p class="fs-17 lh-1 border-none mb-3">
							“I’ve been following Grant since 2012, which made me get back into real estate. My first
							full year of commissions I sold $7.8 million, $12 million second year, 16 million third
							year, and 22 million, with an average of $185,000 sale. This wouldn’t be possible without
							you. Thank you!“
						</p>
						<div class="d-flex align-items-center">
							<hr class="line-3" />
							<h5 class="fs-16">Zach</h5>
						</div>
					</div>
					<div class="col-lg-4">
						<iframe
							class="mb-3"
							width="355"
							height="200"
							src="https://www.youtube.com/embed/oYflbKFKtBs"
							title="JEFF J. CUNNINGHAM & JOSH LEWIS - 10XSUCCESS"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
						></iframe>
						<p class="fs-17 lh-1 border-none mb-3">
							“10X changed our life. Through Grant Cardone, we really realized the only way to succeed is
							to take massive action. Through that massive action, I was able to write a self-published
							book in two and a half days, started a Youtube channel, posting videos on growth every
							single week, all while taking a failing restaurant and launching it into one of the most
							successful restaurants in the brand.“
						</p>
						<div class="d-flex align-items-center">
							<hr class="line-3" />
							<h5 class="fs-16">Jeff & Josh</h5>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container py-100">
				<div class="row">
					<div class="col-12">
						<h2 class="gardone-title mb-5 text-center">Who’s Already Using Cardone University?</h2>
						<hr class="line mb-5 m-auto" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/ashley-2.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/allstate-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/microsoft-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/audible-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/bmw-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/twitter-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/google-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/chrysler-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/toyota-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/ernst-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/facebook-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/ford-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/goldsgym-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/yahoo-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/honda-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/badcock-2.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/infiniti-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/unifi-2.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/kawasaki-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/kia-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/lexus-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/market-traders-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/premier.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/nissan-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/primerica-1-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/salesforce-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/usarmy-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/metro-2.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/vivint-1.jpg" alt="" />
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2-5">
						<img class="d-flex m-auto mb-2" src="./assets/image/logo/ab-1.jpg" alt="" />
					</div>
				</div>
			</div>
		</section>
		<footer class="bg-blue">
			<div class="container py-100">
				<div class="row">
					<div class="col-lg-3">
						<img src="./assets/image/cu-logo-badge-150.png" alt="" />
					</div>
					<div class="col-lg-5">
						<h4 class="text-white fs-17 mb-3">Call Us Today to 10X Your Sales!</h4>
						<p class="text-white fs-17 mb-2"><b>Phone&nbsp;:</b>&nbsp;1-310-777-0255</p>
						<p class="text-white fs-17 mb-2"><b>Email&nbsp;:</b>&nbsp;chat@grantcardone.com</p>
						<p class="text-white fs-17"><b>Support&nbsp;:</b>&nbsp;clientsupport@grantcardone.com</p>
					</div>
					<div class="col-lg-2">
						<ul class="why-list">
							<li class="mb-2">
								<i class="fa fa-check mr-1 text-white" aria-hidden="true"></i>
								<a href="about-us.html">About</a>
							</li>
							<li class="mb-2">
								<i class="fa fa-check mr-1 text-white" aria-hidden="true"></i>
								<a href="#">Free Ebooks</a>
							</li>
							<li class="mb-2">
								<i class="fa fa-check mr-1 text-white" aria-hidden="true"></i>
								<a href="#">Login</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-2">
						<ul class="why-list">
							<li class="mb-2">
								<i class="fa fa-check mr-1 text-white" aria-hidden="true"></i>
								<a href="#"> Privacy Policy</a>
							</li>
							<li class="mb-2">
								<i class="fa fa-check mr-1 text-white" aria-hidden="true"></i>
								<a href="#">Terms of Use</a>
							</li>
							<li class="mb-2">
								<i class="fa fa-check mr-1 text-white" aria-hidden="true"></i>
								<a href="#">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<section class="foot-bg">
			<div class="container py-20">
				<div class="row">
					<div class="col-4">
						<p class="text-white fs-13">© 2021 Cardone Enterprises</p>
					</div>
					<div class="col-8">
						<ul class="why-list d-flex justify-content-end">
							<li><a class="fs-13 mx-2" href="about-us.html">Login</a></li>
							<li><a class="fs-13 mx-2" href="#">About</a></li>
							<li><a class="fs-13 mx-2" href="#">Free eBooks</a></li>
							<li><a class="fs-13 mx-2" href="#">Contact Us</a></li>
							<li><a class="fs-13 mx-2" href="#">Terms of Use</a></li>
							<li><a class="fs-13 mx-2" href="#">Privacy Policy</a></li>
							<li>
								<a class="fs-13 mx-2" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li>
								<a class="fs-13 mx-2" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li>
								<a class="fs-13 mx-2" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li>
								<a class="fs-13 mx-2" href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
							</li>
							<li>
								<a class="fs-13 mx-2" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<div><a id="top" href="#">Top</a></div>

		<script src="./assets/js/custom.js "></script>
	</body>
</html>
